*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";;
}

html,body{
    height: 100%;
    width: 100%;
}
#crsr{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 9999;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #000000;
    padding: 25vh 10vw;

}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:3vw;
}
#linePart1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vw;

}
#linePart1 h5,#linePart1 h6{
    font-size: 3vw;
    font-weight: 200;
    font-family: 'silk serif';
}
#linePart1 h5{
   
    width: 5vw;
    text-align: right;
}
.line h2{
    font-size: 4.7vw;
    font-weight: 600;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;

}
@keyframes anime {
    0%
    {
       font-family: "plain light";
       -webkit-text-stroke: 1px white;
       color: white;
       font-weight: 500;
       opacity: 1;
    }
    45%
    {
       font-family: "plain light";
       -webkit-text-stroke: 1px white;
       color: white;
       font-weight: 500;
       opacity: 0;
    }
    50%
    {
         font-family: 'silk serif';
         -webkit-text-stroke: 1px white;
         color: transparent;
         font-weight: 500;
         opacity: 1;
    }
    100%
    {
         font-family: 'silk serif';
         -webkit-text-stroke: 1px white;
         color: transparent;
         font-weight: 500;
         opacity: 0;
    }
    
}
.line h1{
   font-size: 6vw;
   text-transform: uppercase;
   font-weight: 700;
   
}
#main{
    position: relative;
  background-color: black;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}
#nav-part1{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3vw ;

}
#nav-part1 h4{
    font-size: 0.8vw;
    font-weight: 500;
}
.hero{
  
    width: 71%;
    margin-left: 29%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 9999 ;


}
.hero:nth-child(2){
    margin-top: 19vh;
}
.hero h1{
    font-size:7vw ;
    line-height:7vw;
    
    line-height: 7.2vw;   
}
.hero h2{
    font-size:7.2vw;
    font-weight:600;
   
    line-height: 7.2vw;
    border-bottom: 0.5 white;
    padding-bottom: 0.8vw;
   
}
.hero h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
}
